.chatBoard{
    display: flex;
    flex-wrap: wrap;

    overflow: hidden;

    width: 30%;
    height: 100%;
}

.answerBoard{
    width: 100%;
    height: 80%;

    overflow: scroll;
}

.messageInput{
    width:100%;
    height: 20%;
}