.board{
    width: 70%;
}

.board-canvas {
    border-radius: 3px;
    border: solid black 1px;
}
  
.row {
    display: flex;
    /*flex-direction: row;
    flex-wrap: wrap;*/
    width: 50%;
}
  
.col {
    /*display: flex;
    flex-direction: column;
    flex-basis: 50%;
    flex: 1;*/
}
  
.cell {
    width: 10px;
    height: 10px;
    border: solid black 2px;
}