.heroHeader{
   /* background-image: linear-gradient( rgba(40, 69, 150, 0.3), rgba(40, 69, 150, 0.3)), url(../images/sky.png); */
    background-size: cover;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.logoTitle{
    display: flex;
    justify-content: flex-start;
    margin-left: 10%;
    position: absolute;
    font-size: 10vh;
}

.title1{
    color: green;
}

.title2{
    color: red;
}

.terrain{
    /* position: relative; */
    
    /*background-image: url(../images/terrain.png);*/
    background-size: 110%;
    transform: rotateX(50deg) rotateY(0deg) rotateZ(-20deg);
    width: 100vw;
    height: 120vh;
}

.buttonPlayAndJoinGameUl {
    
    height: 100%;
    list-style-type: none;
    margin-left: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateX(0deg) rotateY(20deg) rotateZ(0deg);
}

.navHomePageLi{
    display: flex;
    transition: transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    transform: translate3d(0, 0, 20px);
 
}

.navHomePageLink{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-decoration: none;
    margin: 10%;
    width: 20vw;
    height: 10vh;   
    background-color: rgba(128, 128, 128, 0.61);
    border-radius: 3px;
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    
}

.navHomePageLink:hover{
    height: 14vh;
    width: 23vw;
    color: rgba(202, 194, 194, 0.877);
    background: linear-gradient(to top, rgba(185, 19, 19, 0.705), 20%, rgba(128, 128, 128, 0.705));
    border-radius: 3px;
    box-shadow: 0px 0px 7px grey;
    transform: translate3d(0, 0, 0px) rotateX(0deg) rotateY(20deg) rotateZ(0deg);
}
