.avatarPage{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.navBarAvatar{
width: 100vw;
height: 20vh;
display: flex;
justify-content: flex-start;
position: absolute;
z-index: 1;
}

.logoTitle{
    width: 40vw;
    height: 20vh;
}

.logoTitle p{
    font-size: 10vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 0px 0px 20px black;
}

.title1{
    color: rgba(39, 146, 105, 0.479);
}

.title2{
    color: rgb(163, 22, 22);
}

.choseImageDisign{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.imageDisignBloc{
    width: 10%;
    /* height: 90%; */
    margin: 0.7vw;
}

.imageDisign{
    width: 100%;
    height: 100%;
}

.imageDisign:hover{
    box-shadow: 0px 0px 4vh grey;
    border-radius: 10vh;
    width: 107%;
    height: 107%;
    overflow: hidden;
}

.imageDisign:active{
    box-shadow: 0px 0px 7vh rgb(197, 136, 136);
}

.avatarDesign{
    width: 9%;
    border-radius: 10vh;
    box-shadow: 2px 2px 4vh grey;
}

@keyframes imageDisign {
    from{
        -webkit-transform: rotateY(0deg);
    }
    to{
        -webkit-transform: rotateY(360deg);
    }
}

.imageDisign:hover {
    animation: imageDisign 3s linear infinite;
}

.imageDesign{
    animation-play-state: paused;
    }

.no-image{
    width: 9%;
}

.imagesDisign{
    width: 60%;
    height: 10vh;
    display: flex;
    align-items: center;
}

.navAvatarPageDiv{
    display: flex;
    transition: transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    transform: translate3d(0, 0, 20px);
}

.navAvatarPageLink{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(44, 42, 42);
    text-decoration: none;
    margin: 10%;
    width: 20vw;
    height: 10vh;   
    background-color: rgba(128, 128, 128, 0.61);
    border-radius: 40vw;
    transition: all 2s cubic-bezier(0.165, 0.84, 0.44, 1);
    font-size: 3em;
}

.navAvatarPageLink:hover{
    color: rgba(202, 194, 194, 0.877);
    background: linear-gradient(to top, rgba(98, 128, 192, 0.705), 20%, rgba(112, 107, 107, 0.705));
    box-shadow: 0px 0px 7px grey;
    transform: translate3d(0, 0, 0px) rotateX(0deg) rotateY(20deg) rotateZ(0deg);
}

.nameAvatarDisign{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.nameAvatarInput{
    height: 50%;
    width: 10%;
    border: none;
    background-color: rgba(174, 178, 179, 0.411);
    box-shadow: 0px 0px 7px grey;
    border-radius: 5px;
}

input.nameAvatarInput:focus {
    outline: none;

}
