.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: 'Open Sans', sans-serif;
}

.game-zone {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  /*align-items: center;*/
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  color: white;
  width:100%;
  font-family: 'Open Sans', sans-serif

  
}                               


/*Note pour le merge: je ne crois pas que ce soit nécessaire. Vraiment. */
/*.board-canvas {
  border-radius: 3px;
  border: solid black 1px;
}*/

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.col {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.cell {
  width: 10px;
  height: 10px;
  border: 1px solid #c3c3c3;
}

.chat-zone {
  display:flex;
  flex-direction:column;
  height: 50vh;
  border: 1px solid #c3c3c3;
  padding:0;
  box-shadow: 0px 2px 3px 0px rgba(50,50,50,0.11);
  border-radius:4px;
  text-align:left;
  color: #000;
  padding: 0 18px 10px;
  overflow-y: auto;
  width:480px;
}

.chat-form {
  align-self: end;
  margin-top: 10px;
  padding:0;
  box-shadow: 0px 2px 3px 0px rgba(50,50,50,0.11);
  
}

.msg-content {
  color:white;
}

.board-canvas {
  box-sizing: border-box;
  box-shadow: 0px 2px 3px 0px rgba(50,50,50,0.11);
}

.color-container{
  display:flex; 
  flex-direction: row; 
  justify-content: space-evenly;
  height: 40px;
  border: 1px solid #c3c3c3;
  margin-top: 10px;
  box-shadow: 0px 2px 3px 0px rgba(50,50,50,0.11);
  align-items:center;
}

.color-option {
  border-radius: 50%;
  width: 14px;
  height: 14px;
  cursor: pointer;
}

.option-container{
  margin-top: 10px;
  color: #000;
  height: 40px;
  border: 1px solid #c3c3c3;;
  box-shadow: 0px 2px 3px 0px rgba(50,50,50,0.11);
  font-size: 11px;
  width: 25%;
  align-items:center;
  transition: background-color 0.5s linear, color 0.5s linear;
  color: #65b2df;
}

.option-container:hover {
  background-color: #65b2df;
  color: white;
  cursor: pointer;
  transition: background-color 0.5s linear, color 0.5s linear;
}

.game {
  display: flex;
flex-direction: column;
align-items: center;
  width:100%;
}

input[type="text"] {
  width: 100%;
box-sizing: border-box;
}